@charset "UTF-8";

.top_section_wrap {
    text-align: center;
    line-height: 200px;
}

.tag_search_wrap {

}

.sharp {
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
}

.search {
    font-size: 70px;
    border: 0;
    padding: 0 !important;
    width: 700px;
    border-bottom: 1px solid black;
}

.search_hidden {
	display: none;
	font-size: 70px;
}

.main_section_wrap {
	width: 860px;
	height: 100%;
	margin: 0 auto;
}

.main_article_wrap {
    display: inline-block;
    width: 100%;
    margin: 10px 0px;
}

/* LIST */
.pl_post_list_item {
    background-color: #ffffff;
	border-bottom: 1px solid #eaeaea;
}

.pl_post_list_item:FIRST-CHILD {
}

.pl_post_title {
    cursor: pointer;
}

.pl_post_description {
    cursor: pointer;
}


/* READ */
.pr_title {
	font-size: 35px;
}

.pr_description {
    margin: 20px 0px 50px 0px;
}

.pr_contents {
	
}

/* WRITE */
.pw_wrap {
	
}

.pw_input {
    display: block;
    width: 100%;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    margin: 15px 0px;
}

.pw_uri_id {
	width: 240px;
}

.pw_contents {
	width: 858px;
	height: 400px;
}
