@charset "UTF-8";

.top_section_wrap {
    text-align: center;
    line-height: 200px;
}

.tag_search_wrap {

}

.sharp {
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
}

.search {
    font-size: 70px;
    border: 0;
    padding: 0 !important;
    width: 700px;
    border-bottom: 1px solid #b5b5b5;
}

.search_hidden {
	display: none;
	font-size: 70px;
}

.main_section_wrap {
	width: 860px;
	height: 100%;
	margin: 0 auto;
}

.main_article_wrap {
    display: inline-block;
    width: 100%;
    margin: 10px 20px;
}

/* LIST */
.pl_post_list_item {
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    padding: 40px 0px;
}

.pl_post_list_item:FIRST-CHILD {
    padding: 0px 0px 40px 0px;
}

.pl_post_list_item_inner {
    line-height: 35px;
}

.pl_post_title {
    cursor: pointer;
}

.pl_post_description {
    cursor: pointer;
}

.pl_post_tags {
    margin: 15px 0px 0px 0px;
}

.pl_post_tag {
    margin: 0px 0px 0px 5px;
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.pl_post_tag:FIRST-CHILD {
    margin: 0;
}

/* READ */
.pr_title {
	font-size: 35px;
}

.pr_description {
    margin: 20px 0px 50px 0px;
}

.pr_contents {
    margin: 50px 0px
}

.pr_tags {
    
}

.pr_tag {
    margin: 0px 0px 0px 5px;
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.pr_tag:FIRST-CHILD {
    margin: 0;
}

/* WRITE */
.pw_wrap {
	
}

.pw_input {
    display: block;
    width: 100%;
    line-height: 30px;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    margin: 15px 0px;
}

.pw_uri_id {
	width: 240px;
}

.pw_contents {
	width: calc(100% - 2px);
	height: 300px;
}

.pw_btn_wrap {
    text-align: center;
}
