<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.oh29oh29.myweb.mapper.PostViewCustomMapper">
	<select id="selectByTag" parameterType="hashmap" resultMap="pe.oh29oh29.myweb.mapper.PostViewMapper.ResultMapWithBLOBs">
		SELECT
			<include refid="pe.oh29oh29.myweb.mapper.PostViewMapper.Base_Column_List" />
			,
			<include refid="pe.oh29oh29.myweb.mapper.PostViewMapper.Blob_Column_List" />
		FROM
			POSTS_VIEW
		WHERE
			TAGS LIKE #{tag}
		ORDER BY 
			REG_DATE DESC
		LIMIT
			#{start}, #{count}
	</select>
	
	<select id="countByTag" parameterType="string" resultType="java.lang.Long">
		SELECT
			count(*)
		FROM
			POSTS_VIEW
		WHERE
			TAGS LIKE #{tag}
	</select>
</mapper>