@charset "UTF-8";

.ct_wrap {
	border: 1px solid black;
	box-sizing: border-box;
	padding: 10px;
}

.ct_list_wrap {
}

.ct_item {
	background-color: #eaeaea;
	line-height: 50px;
	margin: 10px 0px;
	padding: 0px 10px;
	cursor: move;
}

.ct_item:hover {
	background-color: #D4F4FA;
}

.ct_depth_0 {
	
}

.ct_depth_1 {
	margin-left: 30px;
}

.ct_depth_2 {
	margin-left: 60px;
}

.ct_control_wrap {
	float: right;
	font-size: 0px;
}

.ct_name_input {
    line-height: 30px;
}