@charset "UTF-8";

.main_content_wrap {
	width: 1080px;
	height: 100%;
	margin: 0 auto;
}

.pr_wrap {
    margin: 50px 0px;
}

.pr_title {
	font-size: 35px;
}

.pr_description {
    margin: 20px 0px 50px 0px;
}

.pr_contents {
	
}