@charset "UTF-8";

.side_bar_wrap {
	display: inline-block;
	width: 300px;
	height: 100%;
	border: 10px solid red;
    box-sizing: border-box;
}

.main_content_wrap {
	display: inline-block;
	width: calc(100% - 300px);
	height: 100%;
	border: 10px solid blue;
    box-sizing: border-box;
}