@charset "UTF-8";

.login_btn
{
	width: 231px;
	height: 50px;
	cursor: pointer;
	border: 0;
}

.naver_login_btn 
{
	background: url("../../../import/loginAPI/naver/images/login_btn.png");
}

.google_login_btn
{
	background: url("../../../import/loginAPI/google/images/login_btn2.png");
}